.entry-form {
    background-color: var(--main-acc-color);
    margin: 0 auto;
    padding: 20px;
    min-height: 400px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
    & #display-name-notif {
        color: var(--sec-text-color);
        text-align: center;
    }
    & input {
        margin: 20px 0;
        background-color: white;
        font-weight: 300;
        height: 60px;
        width: 80%;
        font-size: 1.2rem;
        text-align: center;
        &::placeholder {
            color: hsla(0, 0%, 0%, 0.35);
        }
    }
    & button {
        width: 80%;
        height: 60px;
        background-color: var(--sec-acc-color);
        border-radius: var(--rounded-border);
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}