.alert-modal {
    text-align: center;
    width: 50%;
    border: var(--border-style);
    background-color: var(--sec-bg-color);
    color: white;
    box-shadow: var(--main-box-shadow);
    & h2 {
        margin: 0;
    }
    & .close-btn {
        border-radius: var(--rounded-border);
        border: none;
        background-color: var(--sec-acc-color);
        padding: 15px 30px;
    }
}
.alert-img {
    width: 230px;
}