.alert-modal {
    text-align: center;
    margin-top: 50px;
    width: 50%;
    border: var(--border-style);
    background-color: var(--sec-bg-color);
    color: var(--sec-text-color);
    box-shadow: var(--main-box-shadow);
    & h2 {
        margin: 0;
    }
    & .modal-close-btn {
        border-radius: var(--rounded-border);
        border: none;
        padding: 15px 30px;
    }
}
.alert-img {
    width: 230px;
}

@media screen and (max-width: 1024px) {
    
  } 
  
@media screen and (max-width: 767px) {
.alert-modal {
    width: 75%;
}
}