.form-title {
  font-size: 3vh;
  color: var(--sec-text-color);
  background-color: var(--thrd-acc-color);
  position: absolute;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
  top: 16%;
}

footer {
  margin-top: 150px;
}
.footer-title {
  font-size: 2vh;
}
.create-btn {
  /* background-color: (--sec-acc-color); */
  border: none;
  border-radius: 54px;
  font-size: 2vh;
  width: 150px;
  height: 50px;
  box-shadow: var(--main-box-shadow);
  margin: 30px;
  align-self: center;
}
.create-game-form {
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  margin-top: 20px;
}
.name-input{
  margin-top: 15px;
  margin-bottom: 90px;
}
input[type="text"] {
  background-color: white;
  font-weight: 300;
  text-align: center;
  border: black solid 1px;
  width: 80%;
  height: 55px;
  font-size: 1.6rem;
  box-shadow: var(--main-box-shadow);
  &::placeholder {
    color: hsla(0, 0%, 0%, 0.35);
}
}
section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.form-holder {
  display: flex;
  justify-content: space-evenly;
}
.category-display {
  margin: 0;
  font-size: 3vh;
  font-weight: 700;

}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="number"] {
  font-size: 3vh;
  border: none;
  font-weight: 700;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  background: none;
}


