.form-modal {
    width: 50%;
    text-align: center;
    border: var(--border-style);
    background-color: var(--sec-bg-color);
    color: var(--sec-text-color);
    box-shadow: var(--main-box-shadow);
    margin-top: 80px;
}
.close-btn {
    float: right;
    background: none;
    border: none;
}

.send-results-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & #email {
        margin-top: 5px;
        box-shadow: none;
    }
}

.submit-btn {
    width: 250px;
    height: 60px;
    border-radius: 54px;
    border: none;
    text-align: center;
    font-size: 2vh;
    margin-top: 40px;
}

/* @media screen and (max-width: 1024px) {
    
} */
@media screen and (max-width: 767px) {
    .form-modal {
        width: 80%;
        margin-top: -10%;
    }
    #email {
        font-size: .8rem;
    }
}