.error-page {
    margin: 0 auto;
    padding: 40px;
    padding-top: 5px;
    text-align: center;
    width: 80%;
    border: var(--border-style);
    background-color: var(--sec-bg-color);
    color: var(--sec-text-color);
    filter: var(--sec-drop-shadow);
    & h2 {
        margin: 0;
    }
    & p {
        padding-bottom: 20px;
    }
    & .error-close-btn {
        text-decoration: none;
        color: var(--main-text-color);
        border-radius: var(--rounded-border);
        background-color: var(--sec-acc-color);
        padding: 15px 30px;
    }
}