.top-three {
  display: flex;
}

.stats-display {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 82vh;
}
.stats-display h2 {
  font-size: 4vh;
}
.podium-holders {
  font-size: 3vh;
}
.stats-display h1 {
  font-size: 5vh;
  color: var(--sec-text-color);
  background-color: var(--thrd-acc-color);
  position: absolute;
  height: 100px;
  width: 400px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
  top: 13%;
}

.btns {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 89%;
}

.new-game-btn,
.send-stats-btn {
  width: 300px;
  height: 50px;
  box-shadow: var(--main-box-shadow);
  border-radius: 54px;
  border: none;
  text-align: center;
  font-size: 2vh;
  margin: 0 15px;
}
.top-three {
  display: flex;
  justify-content: center;
}
.podium {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  height: 75%;
}

.first {
  height: 250px;
  background-color: var(--thrd-acc-color);
}
.second {
  height: 175px;
  background-color: var(--sec-bg-color);
}
.third {
  height: 150px;
  background-color: var(--main-bg-color);
}
.first,
.second,
.third {
  width: 100%;
  font-size: 6vh;
  color: var(--sec-text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-end;
  /* width: 150px; */
}
.first-place,
.second-place,
.third-place {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 150px;
}

.rankings-display {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* .rankings-list li:first-child {
  font-size: 6vh;
}
.rankings-list li:nth-child(2) {
  font-size: 5vh;
}
.rankings-list li:nth-child(3) {
    font-size: 4vh;
} */

@media screen and (max-width: 1024px) {
  .first,
  .second,
  .third {
    font-size: 5vh;
  }

  .podium-holders {
    font-size: 2vh;
  }

  .new-game-btn,
  .send-stats-btn {
    width: 350px;
    height: 60px;
    font-size: 1.8vh;
  }
}

@media screen and (max-width: 767px) {
  .stats-display {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .stats-display h1 {
    width: 300px;
  }
  .podium {
    margin-top: 0;
    justify-content: center;
    height: 50%;
  }
  .first-place,
  .second-place,
  .third-place {
    width: 100px;
  }
  .btns {
    top: 80%;
  }
  .new-game-btn,
  .send-stats-btn {
    width: 150px;
    height: 50px;
    font-size: 1.5vh;
}
  
}